<mat-drawer-container class="example-container" autosize style="height: 100vh;">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <nav class="nav flex-column">
        <a href="#" style="background-color: black;"><img src="../../../assets/logocoderpng.png" style="height: 65px;" alt=""></a>
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        <a class="nav-link" href="#">Nosotros</a>
        <a class="nav-link" href="#">Alumnos</a>
        <a class="nav-link disabled" aria-disabled="true">Proximamente...</a>
      </nav>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <button 
        mat-icon-button class="example-icon" 
        aria-label="Example icon-button with menu icon" 
        (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Proyecto Final - Lista de Alumnos</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <div class="p-5">
      <app-alumnos></app-alumnos>
    </div>
  </mat-drawer-container>
  
